name: release-tag

on:
  repository_dispatch:
    types: [ phuonghuynh/testci3 ]

jobs:
  push-tag:
    runs-on: ubuntu-18.04
    if: startsWith(github.event.client_payload.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.MY_TOKEN }}
      - name: Parse interscript version
        env:
          INTERSCRIPT_TAG: ${{ github.event.client_payload.ref }}
        run: |
          echo "::set-env name=INTERSCRIPT_VERSION::${INTERSCRIPT_TAG#*/v}"
          echo "${{env.INTERSCRIPT_TAG}}"
          echo "${{env.INTERSCRIPT_VERSION}}"
#      - name: Create Release
#        id: create_release
#        uses: actions/create-release@v1
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
#        with:
#          tag_name: v${INTERSCRIPT_VERSION}
#          release_name: Release v${INTERSCRIPT_VERSION}
##          body: |
##            Changes in this Release
##            - First Change
##            - Second Change
#          draft: false
#          prerelease: false
      - name: Push commit and tag
#        env:
#          GITHUB_TOKEN: ${{ secrets.MY_TOKEN }}
        run: |
          git tag v${INTERSCRIPT_VERSION}
          git push origin --tags
#      - name: Push changes
#        uses: ad-m/github-push-action@master
#        with:
#          github_token: ${{ secrets.MY_TOKEN }}
#          branch: ${{ github.ref }}
#          tags: true
