name: release-tag

on:
  repository_dispatch:
    types: [ phuonghuynh/testci3 ]

jobs:
  push-tag:
    runs-on: ubuntu-18.04
    if: startsWith(github.event.client_payload.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v1
      - name: Parse interscript version
        env:
          INTERSCRIPT_TAG: ${{ github.event.client_payload.ref }}
        run: |
          git config --global user.name "interscript-ci"
          git config --global user.email "interscript-ci@users.noreply.github.com"
          echo "::set-env name=INTERSCRIPT_VERSION::${INTERSCRIPT_TAG#*/v}"
          echo "${{env.INTERSCRIPT_TAG}}"
          echo "${{env.INTERSCRIPT_VERSION}}"
      - name: Push commit and tag
        run: |
          git tag v${INTERSCRIPT_VERSION}
          git push --follow-tags

