name: release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
#      - name: debug
#        run: |
#          echo ${{env.GITHUB_REF}}
#          echo ${GITHUB_REF}
      - name: Use Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'
          architecture: 'x64'
#            run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Parse interscript version
#        env:
#          INTERSCRIPT_TAG: ${GITHUB_REF#refs/*/}
        run: |
          echo "${GITHUB_REF}"
          echo "${GITHUB_REF#refs/*/}"
      #          echo "::set-env name=INTERSCRIPT_VERSION::${INTERSCRIPT_TAG#*/v}"

      - name: pull the gem
        uses: actions/checkout@v2
        with:
          repository: 'interscript/interscript-api'
          path: 'git'
      - name: Build the gem
        working-directory: git
        env:
          INTERSCRIPT_VERSION: ${{env.INTERSCRIPT_VERSION}}
        run: |
          gem install bundler
          bundle config set path "./vendor/bundle
          bundle install --without=development --jobs 4 --retry 3




#      rm -Rf ${local.lambda_src}
#      rm -Rf ${local.lambda_src_zip}
#
#      echo "update git submodules from ROOT"
#      cd ..
#      git submodule update --init --recursive
#      cd -
#
#      cd src-api
#      rm -Rf "./vendor"
#      bundle config set path "./vendor/bundle"
#      bundle install --without=development
#      cd -
#
#      echo "copy lambda resouces for uploading"
#      mkdir -p ${local.lambda_src}
#      cp -Rf src-api/vendor src-api/lib ${local.lambda_src}
