name: release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'
          architecture: 'x64'
      - name: Parse interscript version
        run: |
          echo "${GITHUB_REF}"
          echo "${GITHUB_REF#refs/*/v}"
          echo "INTERSCRIPT_VERSION=${GITHUB_REF#refs/*/v}" >> ${GITHUB_ENV}
      - name: pull the gem
        uses: actions/checkout@v2
        with:
          repository: 'interscript/interscript-api'
          path: 'git'
          ref: "feature/listen-for-gem-release"
      - name: Build the gem
        working-directory: git
        run: |
          echo ${INTERSCRIPT_VERSION}
          gem install bundler
          bundle config set path "./vendor/bundle"
          bundle install --without=development --jobs 4 --retry 3




#      rm -Rf ${local.lambda_src}
#      rm -Rf ${local.lambda_src_zip}
#
#      echo "update git submodules from ROOT"
#      cd ..
#      git submodule update --init --recursive
#      cd -
#
#      cd src-api
#      rm -Rf "./vendor"
#      bundle config set path "./vendor/bundle"
#      bundle install --without=development
#      cd -
#
#      echo "copy lambda resouces for uploading"
#      mkdir -p ${local.lambda_src}
#      cp -Rf src-api/vendor src-api/lib ${local.lambda_src}
