name: release-tag

on:
  repository_dispatch:
    types: [ phuonghuynh/testci3 ]

jobs:
  push-tag:
    runs-on: ubuntu-18.04
    if: startsWith(github.event.client_payload.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v2
#        with:
#          token: ${{ secrets.MY_TOKEN }}

      - name: Setup env-vars
        run: |
          REF="${{ github.event.client_payload.ref }}"
          echo "INTERSCRIPT_VERSION=${REF#refs/*/v}" >> $GITHUB_ENV
          echo "GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}" >> $GITHUB_ENV
          echo "GITHUB_PUSH_TOKEN=${{ secrets.MY_TOKEN }}" >> $GITHUB_ENV
          git config --global user.name "interscript-ci"
          git config --global user.email "interscript-ci@users.noreply.github.com"

      - name: debug
        run: |
          echo ${INTERSCRIPT_VERSION}

      - name: Create API Release
        uses: actions/create-release@v1
#        env:
#          GITHUB_TOKEN: ${GITHUB_PUSH_TOKEN}
        with:
          tag_name: v${{env.INTERSCRIPT_VERSION}}
          release_name: Release v${{env.INTERSCRIPT_VERSION}}
          body: Auto release API v${{env.INTERSCRIPT_VERSION}} by @interscript-ci
          draft: false
          prerelease: false
#      - name: Push commit and tag
#        run: |
#          git tag v${INTERSCRIPT_VERSION}
#          git push origin --tags
#      - name: Push changes
#        uses: ad-m/github-push-action@master
#        with:
#          github_token: ${{ secrets.MY_TOKEN }}
#          branch: ${{ github.ref }}
#          tags: true
